<div class="jumbotron" style="margin-top: 100px;  background-color:  #57B3F1;">
  <div class="signin-content">
    <div class="col">
      <div class="panel-heading text-center">
        <h4>Dodaj produkt</h4>
      </div>
      <div class="col">
        <div class="panel-body">
          <form id="add-product" [formGroup]="produktForm" (ngSubmit)="saveProduct(produktForm.value)">
            <div class="form-group">
              <label for="productName">Nazwa produktu</label>
              <input type="text" class="form-control" formControlName="productName" name="productName" [(ngModel)]="productName" />
            </div>
            <div class="form-group">
              <label for="productType">Typ produktu</label>
              <select required class="form-control" formControlName="productType" name="productType" id="productType" [(ngModel)]="productType">
                <option [value]="ProductType.Standard">Standard</option>
                <option [value]="ProductType.Premium">Premium</option>
                <option [value]="ProductType.Enterprise">Enterprise</option>
              </select>
            </div>
            <div class="form-group">
              <label for="productDesc">Opis</label>
              <input required type="text" class="form-control" formControlName="productDesc" id="productDesc" name="productDesc" [(ngModel)]="productDesc"
              />
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-success" name="Dodaj produkt...">Dodaj produkt...</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="panel-heading">
        Twoja lista produktów
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Nazwa produktu
              <input class="form-control" [(ngModel)]="searchProductName" placeholder="filter nazwy" />
            </td>
            <td>
              Typ
              <select class="custom-select" style="width: 140px;"  name="productType" id="productType" [(ngModel)]="searchProductType">
                  <option  disabled [value]="undefined" style="color: #495057 !important;" >filter typu</option>
                  <option [value]="ProductType.Standard">Standard</option>
                  <option [value]="ProductType.Premium">Premium</option>
                  <option [value]="ProductType.Enterprise">Enterprise</option>
              </select>
            </td>
            <td>Opis
              <input class="form-control" [(ngModel)]="searchProductDesc" placeholder="filter opisu" /> </td>
            <td colspan="3"> Akcje</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of products | Productsfilter: searchProductName:searchProductType:searchProductDesc; let productIndex = index;'>
            <td>
              <input required value="{{product.productName}}" name="product.productName" class="form-control" [(ngModel)]="product.productName"
              />
            </td>
            <td>
              <select required name="product.productType" value={{product.productType}} class="form-control" style="width: 140px;" [(ngModel)]="product.productType">
                <option [value]="ProductType.Standard">Standard</option>
                <option [value]="ProductType.Premium">Premium</option>
                <option [value]="ProductType.Enterprise">Enterprise</option>
              </select>
            </td>
            <td>
              <input value="{{product.productDesc}}" name="product.productDesc" class="form-control" [(ngModel)]="product.productDesc"
              />
            </td>
            <td>
              <button type="submit" class="btn btn-success" (click)="updateProduct(product)">Edycja</button>
            </td>
            <td>
              <button type="submit" class="btn btn-danger" (click)="deleteProduct(productIndex, product._id)">Usuń</button>
            </td>
            <td>
              <label>
                <input type="checkbox" (change)="fieldsChange($event)" (click)="addProductForUser(user._id, user.username, product)" /> Dodaj produkt dla wybranego użytkownika
              </label>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center" *ngIf="pager.pages && pager.pages.length">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link " (click)="setPage(1)"> Pierwsza </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(pager.currentPage - 1)"> Poprzednia </a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a class="page-link" (click)="setPage(page)"> {{page}} </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.currentPage + 1)"> Następna </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.totalPages)"> Ostatnia </a>
          </li>
        </ul>
      </nav>
      <div class="col">
        <div class="panel-heading">
          Wybierz użytkownika
        </div>
        <div class="form-group">
          <input id="typeahead-focus" type="text" class="form-control" [(ngModel)]="user" [ngbTypeahead]="search" (focus)="focus$.next($event.target.value)"
            (click)="click$.next($event.target.value)" #instance="ngbTypeahead" [resultFormatter]="formatUsername" [inputFormatter]="formatUsername"
          />
        </div>
      </div>
    </div>
  </div>
